<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Update <%=@restaurant.name%></title>
</head>
<body>
	<h1>Update <%=@restaurant.name%></h1>
	<%= render 'form' %>
</body>
</html>