<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Yelperonni</title>
</head>
<body>
	<ul>
		<% if @restaurants.any? %>
			<% @restaurants.each do |restaurant| %>
				<li> <%= restaurant.name %> - <%= restaurant.category %> | <%= link_to 'Edit', edit_restaurant_path(restaurant) %></li>
			<% end %>
		<%else%>
			<p>No restaurants yet</p>
		<% end %>
		</ul>
	<%=link_to 'Add a restaurant', new_restaurant_path %>
</body>
</html>