<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @restaurant.name %></title>
</head>
<body>
	<h1> <%= @restaurant.name %> </h1>
	<h2> <%= @restaurant.category %> </h2>
	<h2> Reviews </h2>
	<p>No reviews yet</p>
</body>
</html>